*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeff0;
}
.input.file {
    border: 3px dashed #eaedf0;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 15px;
    width: 600px;
    margin-bottom: 10px;
}
.input.file input {
    display: none;
}
.input.file label {
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 600px;
    border: 1px solid #bdc3c7;
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
    background-color: #fff;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #fff;
}

#header {
    background-color: #16a085;
    color: #fff;
}

h1 {
    font-weight: 600;
    text-align: center;
    background-color: #16a085;
    color: #fff;
    padding: 10px 0px;
}

#icon {
    font-size: 60px;
}

.input.file label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}