.input.file {
    border: 3px dashed #eaedf0;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 15px;
    width: 700px;
}

#icon {
    font-size: 60px;
}

.input.file input {
    display: none;
}

.input.file label {
    cursor: pointer;
}

.input.file label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}